<a class="game_card" href="/game/{{game_id}}" style="text-decoration: none">
    <div class="game_thumbnail">
        <img src="/images/games/thumbnails/{{cover_image}}.webp" alt="Game thumbnail" loading="lazy">
    </div>
        <h3>{{game_name}}</h3>
        <p>By: {{names}} {{lastnames}}</p>
        <p>Published: {{release_year}}</p>
</a>
